ckpts/
__pycache__/
model/monotonic_align/build
model/monotonic_align/model
model/monotonic_align/core.c

/mnt/qb/work/butz/bst080/faceGANtts/Miniconda3-latest-Linux-x86_64.sh
/mnt/qb/work/butz/bst080/faceGANtts/lrs2_alignment
/mnt/qb/work/butz/bst080/faceGANtts/lightning_logslightning_logs/
