ckpts/
__pycache__/
model/monotonic_align/build
model/monotonic_align/model
model/monotonic_align/core.c

Miniconda3-latest-Linux-x86_64.sh
lightning_logs/
Miniconda3-latest-Linux-x86_64.sh
lightning_logs/
